In [69]:
import pandas
import numpy
from scipy import stats

## Hybrid sample

In [70]:
filepath = 'D:/BG/Data/Processing/4_data_hybrid.txt'
hybrid = pandas.read_csv(filepath, sep='\t')
print(hybrid.shape[0],'job postings in hybrid sample')
hybrid.columns

212821 job postings in hybrid sample

Index(['BGTJobId', 'JobDate', 'CleanTitle', 'CanonTitle', 'SOC', 'SOCName',
       'ONET', 'ONETName', 'Employer', 'Sector', 'SectorName', 'NAICS3',
       'NAICS4', 'NAICS5', 'NAICS6', 'City', 'County', 'State', 'Lat', 'Lon',
       'Edu', 'MaxEdu', 'Degree', 'MaxDegree', 'Exp', 'MaxExp', 'MinSalary',
       'MaxSalary', 'MinHrlySalary', 'MaxHrlySalary', 'PayFrequency',
       'SalaryType', 'JobHours', 'SOC2', 'SOC4', 'SOC5', 'SK',
       'Employer_clean', 'n_terms', 'SK_without', 'TECH', 'occupation',
       'firm1', 'firm2', 'firm', 'plant', 'plant_all', 'plant_5',
       'development', 'materials', 'design', 'inventory', 'tooling',
       'automation', 'production', 'maintenance', 'technical',
       'administrative', 'management', 'finance', 'business', 'data',
       'software', 'office', 'ml', 'cognitive', 'creativity', 'social',
       'character', 'customer', 'writing', 'nonroutine analytic',
       'nonroutine manual', 'routine cognitive', 'routine manual',
       'sequential', 'reciprocal'],
      dtype='object')

In [71]:
mydf = hybrid.copy()
mydf['Count of Terms']=[len(job.split(',')) for job in mydf.SK_without.tolist()]
mydf['Engineering'] = mydf['development']+mydf['materials']+mydf['design']
mydf['Operations'] = mydf['inventory']+mydf['tooling']+mydf['automation']+mydf['production']+mydf['maintenance']
mydf['Support'] = mydf['administrative']+mydf['management']+mydf['finance']+mydf['business']+mydf['data']+mydf['software']+mydf['office']+mydf['ml']+mydf['technical']
mydf['Reasoning'] = mydf['cognitive']+mydf['creativity']
mydf['People'] = mydf['social']+mydf['character']+mydf['customer']+mydf['writing']
annotation = ['Engineering','development','design','materials','Operations','inventory','tooling','automation','production','maintenance','Support','administrative','management','finance','business','data','software','office','ml','technical','Reasoning','cognitive','creativity','People','social','character','customer','writing']
for a in annotation:
  mydf[a] = (mydf[a]*mydf['Count of Terms'].sum())/(mydf['Count of Terms']*mydf[a].sum())

## Statistics for all occupations

In [72]:
df = mydf[['TECH'] + annotation]

t = []
for a in annotation:
  t.append([a,stats.ttest_ind(df.loc[df.TECH=='AM',a],df.loc[df.TECH=='TM',a],equal_var=False)[1]])
tdf = pandas.DataFrame(t,columns=['annotation','p-val'])
tdf.set_index('annotation',inplace=True)

mymean = df.groupby(by=['TECH']).mean().T
mymean.index.name = 'annotation'
mymean['AM-TM'] = mymean['AM'] - mymean['TM']

mymean['N-AM'] = N = len(mydf.loc[mydf.TECH=='AM'])
mymean['N-TM'] = N = len(mydf.loc[mydf.TECH=='TM'])

table1 = pandas.merge(left=mymean,right=tdf,how='inner',left_on=['annotation'],right_on=['annotation'])
table1['statistics'] = 'Mean'
table1.set_index('statistics',append=True,inplace=True)

mysd = df.groupby(by=['TECH']).std(ddof=0).T
mysd.index.name = 'annotation'
mysd.reset_index(inplace=True)
mysd['statistics'] = 'SD'
mysd.set_index(['annotation','statistics'],inplace=True)
mysd['p-val'] = numpy.nan
table1 = pandas.concat([table1,mysd],axis=0).sort_index(kind='merge').reindex(annotation,axis=0,level='annotation')
table1.columns = pandas.MultiIndex.from_product([['All'],table1.columns])

postings = mydf.groupby(['TECH']).nunique()[['BGTJobId']].T
postings.rename_axis([None],axis=1,inplace=True)
postings.columns = pandas.MultiIndex.from_product([['All'],postings.columns])
postings.index = pandas.MultiIndex.from_product([['Number of job postings'],['']])
plants = mydf.groupby(['TECH']).nunique()[['plant']].T
plants.rename_axis([None],axis=1,inplace=True)
plants.columns = pandas.MultiIndex.from_product([['All'],plants.columns])
plants.index = pandas.MultiIndex.from_product([['Number of plants'],['']])
table1 = pandas.concat([table1,postings,plants],axis=0)
table1

                                           All                              \
                                            AM     AM-TM    N-AM      N-TM
annotation             statistics
Engineering            Mean           1.796460  0.785225  4638.0  208183.0
                       SD             1.506160       NaN     NaN       NaN
development            Mean           1.653261  0.647780  4638.0  208183.0
                       SD             2.125584       NaN     NaN       NaN
design                 Mean           1.651273  0.669212  4638.0  208183.0
                       SD             2.083312       NaN     NaN       NaN
materials              Mean           2.345054  1.264174  4638.0  208183.0
                       SD             4.219040       NaN     NaN       NaN
Operations             Mean           1.138939  0.087528  4638.0  208183.0
                       SD             1.122574       NaN     NaN       NaN
inventory              Mean           0.568781 -0.415132  4638.0  208183.0
                       SD             1.455696       NaN     NaN       NaN
tooling                Mean           1.445359  0.130330  4638.0  208183.0
                       SD            26.030696       NaN     NaN       NaN
automation             Mean           2.898986  1.875994  4638.0  208183.0
                       SD             6.862909       NaN     NaN       NaN
production             Mean           1.559953  0.529747  4638.0  208183.0
                       SD             1.927242       NaN     NaN       NaN
maintenance            Mean           0.753594 -0.414489  4638.0  208183.0
                       SD             1.679864       NaN     NaN       NaN
Support                Mean           0.771135 -0.179255  4638.0  208183.0
                       SD             0.668609       NaN     NaN       NaN
administrative         Mean           1.371988  0.268008  4638.0  208183.0
                       SD             3.712744       NaN     NaN       NaN
management             Mean           0.863459 -0.157303  4638.0  208183.0
                       SD             1.955991       NaN     NaN       NaN
finance                Mean           0.753330 -0.217780  4638.0  208183.0
                       SD             1.699604       NaN     NaN       NaN
business               Mean           0.504726 -0.484756  4638.0  208183.0
                       SD             1.588447       NaN     NaN       NaN
data                   Mean           0.594837 -0.384824  4638.0  208183.0
                       SD             2.916470       NaN     NaN       NaN
software               Mean           0.708443 -0.159334  4638.0  208183.0
                       SD             1.224541       NaN     NaN       NaN
office                 Mean           0.762418 -0.170171  4638.0  208183.0
                       SD             1.526695       NaN     NaN       NaN
ml                     Mean           1.196098  0.413450  4638.0  208183.0
                       SD             5.493493       NaN     NaN       NaN
technical              Mean           0.615838 -0.381366  4638.0  208183.0
                       SD             2.302044       NaN     NaN       NaN
Reasoning              Mean           1.390865  0.410320  4638.0  208183.0
                       SD             1.489409       NaN     NaN       NaN
cognitive              Mean           1.371762  0.386135  4638.0  208183.0
                       SD             1.585454       NaN     NaN       NaN
creativity             Mean           1.492963  0.539579  4638.0  208183.0
                       SD             4.150613       NaN     NaN       NaN
People                 Mean           0.852389 -0.137489  4638.0  208183.0
                       SD             0.688802       NaN     NaN       NaN
social                 Mean           0.929739 -0.077609  4638.0  208183.0
                       SD             0.954987       NaN     NaN       NaN
character              Mean           0.749445 -0.221437  4638.0  208183.0
                       SD             1.040326       NaN     NaN       NaN
customer               Mean           0.930480 -0.065595  4638.0  208183.0
                       SD             2.689618       NaN     NaN       NaN
writing                Mean           0.771628 -0.197977  4638.0  208183.0
                       SD             1.940126       NaN     NaN       NaN
Number of job postings             4638.000000       NaN     NaN       NaN
Number of plants                    319.000000       NaN     NaN       NaN


                                              TM          p-val
annotation             statistics
Engineering            Mean             1.011236  1.089484e-241
                       SD               1.314037            NaN
development            Mean             1.005481   2.535263e-90
                       SD               1.796083            NaN
design                 Mean             0.982061   1.698685e-99
                       SD               1.884514            NaN
materials              Mean             1.080880   7.859600e-88
                       SD               3.016766            NaN
Operations             Mean             1.051411   1.780258e-07
                       SD               1.329525            NaN
inventory              Mean             0.983913   4.064968e-77
                       SD               2.293856            NaN
tooling                Mean             1.315029   7.347386e-01
                       SD              19.407447            NaN
automation             Mean             1.022992   6.256850e-74
                       SD               4.822716            NaN
production             Mean             1.030206   6.389161e-74
                       SD               1.970089            NaN
maintenance            Mean             1.168083   3.166464e-58
                       SD               2.850452            NaN
Support                Mean             0.950390   4.375967e-70
                       SD               0.783265            NaN
administrative         Mean             1.103980   1.113428e-06
                       SD               3.143906            NaN
management             Mean             1.020762   6.686759e-08
                       SD               2.093764            NaN
finance                Mean             0.971109   1.447691e-17
                       SD               2.229969            NaN
business               Mean             0.989482   4.318831e-88
                       SD               2.355082            NaN
data                   Mean             0.979661   2.679639e-18
                       SD               4.488523            NaN
software               Mean             0.867778   5.330025e-18
                       SD               1.687953            NaN
office                 Mean             0.932588   9.575529e-14
                       SD               1.858430            NaN
ml                     Mean             0.782648   3.977918e-07
                       SD               5.070277            NaN
technical              Mean             0.997204   8.060102e-28
                       SD               3.528190            NaN
Reasoning              Mean             0.980545   2.351123e-74
                       SD               1.459406            NaN
cognitive              Mean             0.985627   5.734412e-59
                       SD               1.530255            NaN
creativity             Mean             0.953384   2.136354e-18
                       SD               3.439539            NaN
People                 Mean             0.989878   2.917292e-40
                       SD               0.776698            NaN
social                 Mean             1.007348   4.995644e-08
                       SD               1.056285            NaN
character              Mean             0.970881   2.495439e-45
                       SD               1.227748            NaN
customer               Mean             0.996076   1.008709e-01
                       SD               2.806789            NaN
writing                Mean             0.969604   9.628845e-12
                       SD               2.452681            NaN
Number of job postings             208183.000000            NaN
Number of plants                      319.000000            NaN

## Statistics by occupation

In [73]:
occupations = ['Manager','Engineer','Technician','Operator']
df = mydf[['TECH','occupation'] + annotation]

t = []
for a in annotation:
  for o in occupations:
    t.append([a,o,stats.ttest_ind(df.loc[(df.TECH=='AM') & (df.occupation==o),a],df.loc[(df.TECH=='TM') & (df.occupation==o),a],equal_var=False)[1]])
tdf = pandas.DataFrame(t,columns=['annotation','occupations','p-val'])
tdf.set_index(['annotation','occupations'],inplace=True)

mymean = df.groupby(by=['occupation','TECH']).mean().unstack(level=0).T
mymean.index.names = ['annotation','occupations']
mymean['AM-TM'] = mymean['AM'] - mymean['TM']

mymean.loc[pandas.IndexSlice[:,'Manager'],'N-AM'] = len(mydf.loc[(mydf.TECH=='AM')&(mydf.occupation=='Manager')])
mymean.loc[pandas.IndexSlice[:,'Engineer'],'N-AM'] = len(mydf.loc[(mydf.TECH=='AM')&(mydf.occupation=='Engineer')])
mymean.loc[pandas.IndexSlice[:,'Technician'],'N-AM'] = len(mydf.loc[(mydf.TECH=='AM')&(mydf.occupation=='Technician')])
mymean.loc[pandas.IndexSlice[:,'Operator'],'N-AM'] = len(mydf.loc[(mydf.TECH=='AM')&(mydf.occupation=='Operator')])
mymean.loc[pandas.IndexSlice[:,'Manager'],'N-TM'] = len(mydf.loc[(mydf.TECH=='TM')&(mydf.occupation=='Manager')])
mymean.loc[pandas.IndexSlice[:,'Engineer'],'N-TM'] = len(mydf.loc[(mydf.TECH=='TM')&(mydf.occupation=='Engineer')])
mymean.loc[pandas.IndexSlice[:,'Technician'],'N-TM'] = len(mydf.loc[(mydf.TECH=='TM')&(mydf.occupation=='Technician')])
mymean.loc[pandas.IndexSlice[:,'Operator'],'N-TM'] = len(mydf.loc[(mydf.TECH=='TM')&(mydf.occupation=='Operator')])

table2 = pandas.merge(left=mymean,right=tdf,how='inner',left_on=['annotation','occupations'],right_on=['annotation','occupations'])
table2['statistics'] = 'Mean'
table2.set_index('statistics',append=True,inplace=True)

mysd = df.groupby(by=['occupation','TECH']).std(ddof=0).unstack(level=0).T
mysd.index.names = ['annotation','occupations']
mysd['statistics'] = 'SD'
mysd.set_index('statistics',append=True,inplace=True)
mysd['p-val'] = numpy.nan

table2 = pandas.concat([table2,mysd],axis=0).sort_index(kind='merge').reindex(annotation,axis=0,level='annotation').unstack('occupations').swaplevel(0,1,axis=1).reindex(occupations,axis=1,level=0)
table2.rename_axis([None,None],axis=1,inplace=True)

postings = mydf.groupby(['occupation','TECH']).nunique()[['BGTJobId']].reindex(occupations, level='occupation').T
postings.rename_axis([None,None],axis=1,inplace=True)
postings.index = pandas.MultiIndex.from_product([['Number of job postings'],['']])
plants = mydf.groupby(['occupation','TECH']).nunique()[['plant']].reindex(occupations, level='occupation').T
plants.rename_axis([None,None],axis=1,inplace=True)
plants.index = pandas.MultiIndex.from_product([['Number of plants'],['']])
table2 = pandas.concat([table2,postings,plants],axis=0).reindex(occupations,axis=1,level=0)
table2

                                      Manager                            \
                                           AM     AM-TM   N-AM     N-TM
annotation             statistics
Engineering            Mean          0.857864  0.425481  981.0  88819.0
                       SD            1.118225       NaN    NaN      NaN
development            Mean          0.956899  0.373930  981.0  88819.0
                       SD            1.785380       NaN    NaN      NaN
design                 Mean          0.698259  0.360672  981.0  88819.0
                       SD            1.312923       NaN    NaN      NaN
materials              Mean          1.008726  0.648549  981.0  88819.0
                       SD            2.720594       NaN    NaN      NaN
Operations             Mean          0.634610  0.003514  981.0  88819.0
                       SD            0.929923       NaN    NaN      NaN
inventory              Mean          0.631094 -0.694956  981.0  88819.0
                       SD            1.885894       NaN    NaN      NaN
tooling                Mean          0.000000 -0.533118  981.0  88819.0
                       SD            0.000000       NaN    NaN      NaN
automation             Mean          1.242551  0.996256  981.0  88819.0
                       SD            4.024428       NaN    NaN      NaN
production             Mean          0.828816  0.393475  981.0  88819.0
                       SD            1.565202       NaN    NaN      NaN
maintenance            Mean          0.203702 -0.001294  981.0  88819.0
                       SD            0.694632       NaN    NaN      NaN
Support                Mean          1.083069 -0.063414  981.0  88819.0
                       SD            0.811497       NaN    NaN      NaN
administrative         Mean          2.976456  1.742861  981.0  88819.0
                       SD            5.764335       NaN    NaN      NaN
management             Mean          1.507625 -0.051061  981.0  88819.0
                       SD            2.615352       NaN    NaN      NaN
finance                Mean          1.799865  0.103662  981.0  88819.0
                       SD            2.612439       NaN    NaN      NaN
business               Mean          1.367242 -0.362541  981.0  88819.0
                       SD            2.650816       NaN    NaN      NaN
data                   Mean          0.325713 -0.548393  981.0  88819.0
                       SD            2.898043       NaN    NaN      NaN
software               Mean          0.661524 -0.109194  981.0  88819.0
                       SD            1.282903       NaN    NaN      NaN
office                 Mean          0.446545 -0.423297  981.0  88819.0
                       SD            1.219434       NaN    NaN      NaN
ml                     Mean          0.685703  0.214220  981.0  88819.0
                       SD            4.614887       NaN    NaN      NaN
technical              Mean          0.417419 -0.329342  981.0  88819.0
                       SD            1.817332       NaN    NaN      NaN
Reasoning              Mean          1.720976  0.704887  981.0  88819.0
                       SD            1.752583       NaN    NaN      NaN
cognitive              Mean          1.678605  0.704638  981.0  88819.0
                       SD            1.913393       NaN    NaN      NaN
creativity             Mean          1.947435  0.706213  981.0  88819.0
                       SD            4.944711       NaN    NaN      NaN
People                 Mean          1.074125 -0.201700  981.0  88819.0
                       SD            0.829707       NaN    NaN      NaN
social                 Mean          1.040283 -0.162043  981.0  88819.0
                       SD            0.971317       NaN    NaN      NaN
character              Mean          0.915840 -0.379915  981.0  88819.0
                       SD            1.185339       NaN    NaN      NaN
customer               Mean          1.798174  0.141908  981.0  88819.0
                       SD            3.830259       NaN    NaN      NaN
writing                Mean          0.890435 -0.132694  981.0  88819.0
                       SD            2.183330       NaN    NaN      NaN
Number of job postings             981.000000       NaN    NaN      NaN
Number of plants                   166.000000       NaN    NaN      NaN

                                                                  Engineer  \
                                             TM         p-val           AM
annotation             statistics
Engineering            Mean            0.432384  1.622174e-30     2.410896
                       SD              0.799738           NaN     1.382920
development            Mean            0.582969  1.004746e-10     2.116313
                       SD              1.325624           NaN     2.201902
design                 Mean            0.337587  3.874097e-17     2.263433
                       SD              1.020938           NaN     2.232676
materials              Mean            0.360177  2.066431e-13     3.231070
                       SD              1.637357           NaN     4.601978
Operations             Mean            0.631096  9.064655e-01     1.117579
                       SD              1.011064           NaN     0.965962
inventory              Mean            1.326050  2.046199e-28     0.472967
                       SD              2.825604           NaN     1.226953
tooling                Mean            0.533118  1.124361e-54     2.009146
                       SD             10.195906           NaN    28.779596
automation             Mean            0.246295  2.454166e-14     2.571045
                       SD              1.890366           NaN     6.202963
production             Mean            0.435341  1.115896e-14     1.712868
                       SD              1.185412           NaN     1.823330
maintenance            Mean            0.204996  9.540159e-01     0.590038
                       SD              0.969511           NaN     1.253850
Support                Mean            1.146483  1.511894e-02     0.669044
                       SD              0.786562           NaN     0.544566
administrative         Mean            1.233595  2.403678e-20     0.703807
                       SD              3.220306           NaN     1.906506
management             Mean            1.558686  5.431986e-01     0.639190
                       SD              2.471873           NaN     1.570733
finance                Mean            1.696203  2.175136e-01     0.420154
                       SD              2.880883           NaN     0.935967
business               Mean            1.729783  2.313990e-05     0.300780
                       SD              2.966998           NaN     1.045390
data                   Mean            0.874107  6.370553e-09     0.608860
                       SD              4.203868           NaN     2.740618
software               Mean            0.770718  8.302892e-03     0.854985
                       SD              1.497041           NaN     1.291340
office                 Mean            0.869843  1.307322e-25     0.709816
                       SD              1.719453           NaN     1.399998
ml                     Mean            0.471483  1.480824e-01     1.493701
                       SD              3.901333           NaN     5.772812
technical              Mean            0.746761  2.824977e-08     0.704604
                       SD              2.904713           NaN     2.371681
Reasoning              Mean            1.016090  1.236429e-33     1.275396
                       SD              1.365693           NaN     1.312937
cognitive              Mean            0.973967  8.666536e-29     1.254984
                       SD              1.435116           NaN     1.402775
creativity             Mean            1.241222  9.207522e-06     1.384492
                       SD              3.571676           NaN     3.906762
People                 Mean            1.275825  8.258224e-14     0.725942
                       SD              0.779107           NaN     0.543796
social                 Mean            1.202326  2.558602e-07     0.886918
                       SD              1.054964           NaN     0.880985
character              Mean            1.295755  2.211187e-22     0.582476
                       SD              1.299801           NaN     0.764964
customer               Mean            1.656266  2.487232e-01     0.548285
                       SD              3.626584           NaN     1.836816
writing                Mean            1.023129  5.911164e-02     0.748127
                       SD              2.450697           NaN     1.758840
Number of job postings             88819.000000           NaN  2704.000000
Number of plants                     311.000000           NaN   274.000000

                                                              ... Technician  \
                                      AM-TM    N-AM     N-TM  ...       N-AM
annotation             statistics                             ...
Engineering            Mean        0.554415  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
development            Mean        0.431460  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
design                 Mean        0.383303  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
materials              Mean        1.120181  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
Operations             Mean        0.192108  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
inventory              Mean       -0.214118  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
tooling                Mean        1.357456  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
automation             Mean        1.517105  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
production             Mean        0.620201  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
maintenance            Mean       -0.323861  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
Support                Mean       -0.168995  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
administrative         Mean       -0.074066  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
management             Mean        0.042710  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
finance                Mean       -0.086684  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
business               Mean       -0.206438  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
data                   Mean       -0.364413  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
software               Mean       -0.321269  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
office                 Mean       -0.152029  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
ml                     Mean        0.086306  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
technical              Mean       -0.310161  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
Reasoning              Mean        0.184451  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
cognitive              Mean        0.125780  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
creativity             Mean        0.498026  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
People                 Mean       -0.073496  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
social                 Mean       -0.049333  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
character              Mean       -0.115845  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
customer               Mean        0.098736  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
writing                Mean       -0.273961  2704.0  78324.0  ...      457.0
                       SD               NaN     NaN      NaN  ...        NaN
Number of job postings                  NaN     NaN      NaN  ...        NaN
Number of plants                        NaN     NaN      NaN  ...        NaN

                                                                        \
                                      N-TM            TM         p-val
annotation             statistics
Engineering            Mean        10791.0      1.090819  1.667447e-02
                       SD              NaN      1.314771           NaN
development            Mean        10791.0      1.068082  6.785315e-04
                       SD              NaN      2.079767           NaN
design                 Mean        10791.0      1.011121  5.266552e-01
                       SD              NaN      1.998632           NaN
materials              Mean        10791.0      1.293441  9.766446e-01
                       SD              NaN      3.082258           NaN
Operations             Mean        10791.0      1.766279  8.087504e-01
                       SD              NaN      1.518573           NaN
inventory              Mean        10791.0      0.649122  6.056267e-03
                       SD              NaN      1.661145           NaN
tooling                Mean        10791.0      1.724591  8.907186e-01
                       SD              NaN     27.365905           NaN
automation             Mean        10791.0      1.780795  4.431736e-14
                       SD              NaN      6.206608           NaN
production             Mean        10791.0      1.375925  3.735532e-06
                       SD              NaN      2.098456           NaN
maintenance            Mean        10791.0      3.736802  3.241503e-32
                       SD              NaN      4.578684           NaN
Support                Mean        10791.0      0.814769  1.537652e-15
                       SD              NaN      0.786054           NaN
administrative         Mean        10791.0      1.215256  1.300252e-03
                       SD              NaN      3.601529           NaN
management             Mean        10791.0      0.448601  1.580325e-02
                       SD              NaN      1.367758           NaN
finance                Mean        10791.0      0.277327  8.417513e-03
                       SD              NaN      1.317863           NaN
business               Mean        10791.0      0.304492  2.697839e-05
                       SD              NaN      1.303671           NaN
data                   Mean        10791.0      1.703814  3.901335e-04
                       SD              NaN      5.892707           NaN
software               Mean        10791.0      0.671888  2.653004e-12
                       SD              NaN      1.593590           NaN
office                 Mean        10791.0      1.389824  5.046992e-02
                       SD              NaN      2.360380           NaN
ml                     Mean        10791.0      0.481858  5.211626e-02
                       SD              NaN      3.582349           NaN
technical              Mean        10791.0      1.822906  5.524725e-55
                       SD              NaN      5.159633           NaN
Reasoning              Mean        10791.0      0.890262  8.010379e-08
                       SD              NaN      1.714253           NaN
cognitive              Mean        10791.0      0.938375  1.586932e-05
                       SD              NaN      1.724454           NaN
creativity             Mean        10791.0      0.633110  1.587901e-05
                       SD              NaN      3.404350           NaN
People                 Mean        10791.0      0.717368  5.311908e-14
                       SD              NaN      0.736378           NaN
social                 Mean        10791.0      0.782557  1.852811e-04
                       SD              NaN      1.121728           NaN
character              Mean        10791.0      0.671337  6.594910e-14
                       SD              NaN      1.089125           NaN
customer               Mean        10791.0      0.485761  3.012039e-02
                       SD              NaN      1.882383           NaN
writing                Mean        10791.0      0.910830  8.649131e-01
                       SD              NaN      2.691383           NaN
Number of job postings                 NaN  10791.000000           NaN
Number of plants                       NaN    273.000000           NaN

                                     Operator                            \
                                           AM     AM-TM   N-AM     N-TM
annotation             statistics
Engineering            Mean          0.814469  0.320565  496.0  30249.0
                       SD            1.295364       NaN    NaN      NaN
development            Mean          0.722889  0.258237  496.0  30249.0
                       SD            1.495379       NaN    NaN      NaN
design                 Mean          0.742798  0.204137  496.0  30249.0
                       SD            1.602658       NaN    NaN      NaN
materials              Mean          1.122118  0.667906  496.0  30249.0
                       SD            3.722711       NaN    NaN      NaN
Operations             Mean          1.660791 -0.695856  496.0  30249.0
                       SD            1.499900       NaN    NaN      NaN
inventory              Mean          0.714631 -0.152691  496.0  30249.0
                       SD            1.562074       NaN    NaN      NaN
tooling                Mean          0.717412 -4.464991  496.0  30249.0
                       SD           11.389943       NaN    NaN      NaN
automation             Mean          5.788983  2.835879  496.0  30249.0
                       SD            9.838365       NaN    NaN      NaN
production             Mean          1.903799 -0.588019  496.0  30249.0
                       SD            2.492327       NaN    NaN      NaN
maintenance            Mean          1.538533 -2.199227  496.0  30249.0
                       SD            2.686008       NaN    NaN      NaN
Support                Mean          0.874210  0.160309  496.0  30249.0
                       SD            0.832064       NaN    NaN      NaN
administrative         Mean          2.393027  0.864935  496.0  30249.0
                       SD            5.207286       NaN    NaN      NaN
management             Mean          1.020299  0.276312  496.0  30249.0
                       SD            2.269140       NaN    NaN      NaN

## Final table

In [74]:
table = pandas.merge(left=table1,right=table2,how='inner',left_on=['annotation','statistics'],right_on=['annotation','statistics'])
table[('Manager','Within')] = (table[('Manager','N-TM')]*table[('Manager','AM-TM')])/table[('All','N-TM')]
table[('Manager','Between')] = (table[('Manager','N-AM')]/table[('All','N-AM')]-table[('Manager','N-TM')]/table[('All','N-TM')])*table[('Manager','AM')]
table[('Engineer','Within')] = (table[('Engineer','N-TM')]*table['Engineer','AM-TM'])/table['All','N-TM']
table[('Engineer','Between')] = (table[('Engineer','N-AM')]/table[('All','N-AM')]-table[('Engineer','N-TM')]/table[('All','N-TM')])*table[('Engineer','AM')]
table[('Technician','Within')] = (table[('Technician','N-TM')]*table['Technician','AM-TM'])/table['All','N-TM']
table[('Technician','Between')] = (table[('Technician','N-AM')]/table[('All','N-AM')]-table[('Technician','N-TM')]/table[('All','N-TM')])*table[('Technician','AM')]
table[('Operator','Within')] = (table[('Operator','N-TM')]*table['Operator','AM-TM'])/table['All','N-TM']
table[('Operator','Between')] = (table[('Operator','N-AM')]/table[('All','N-AM')]-table[('Operator','N-TM')]/table[('All','N-TM')])*table[('Operator','AM')]
table[('All','Within-Check')] = table[('Manager','Within')]+table[('Engineer','Within')]+table[('Technician','Within')]+table[('Operator','Within')]
table[('All','Between')] = table[('Manager','Between')]+table[('Engineer','Between')]+table[('Technician','Between')]+table[('Operator','Between')]
table = numpy.trunc(1000*table)/1000
table[('All','Within')] = table[('All','AM')] - table[('All','TM')] - table['All','Between']
check = table[[('All','Within-Check'),('All','Within')]]
print(check) # because of decimal places; 'Within-Check' is calculated from the occupations, 'Within' is calculated from All to deal with decimal places
mylist = [('All','AM'),('All','TM'),('All','Between'),('All','Within'),('Manager','AM'),('Manager','TM'),('Engineer','AM'),('Engineer','TM'),('Technician','AM'),('Technician','TM'),('Operator','AM'),('Operator','TM')]
table[mylist] = table[mylist].applymap('{:.3f}'.format)
for i in ['All','Manager','Engineer','Technician','Operator']:
  table.loc[(table[(i,'p-val')]<0.1)&(table[(i,'p-val')]>=0.05),(i,'AM')] = table.loc[(table[(i,'p-val')]<0.1)&(table[(i,'p-val')]>=0.05),(i,'AM')]+'*'
  table.loc[(table[(i,'p-val')]<0.05)&(table[(i,'p-val')]>=0.01),(i,'AM')] = table.loc[(table[(i,'p-val')]<0.05)&(table[(i,'p-val')]>=0.01),(i,'AM')]+'**'
  table.loc[table[(i,'p-val')]<0.01,(i,'AM')] = table.loc[table[(i,'p-val')]<0.01,(i,'AM')]+'***'
table = table[mylist]
table.loc[pandas.IndexSlice[:,'SD'],:] = table.loc[pandas.IndexSlice[:,'SD'],:].apply(lambda x: '(' + x + ')')
table = table.mask(table == '(nan)',numpy.nan)
table = table.mask(table == 'nan',numpy.nan)
table = table.mask(table == '-0.000','0.000')
table.loc[pandas.IndexSlice['Number of job postings',:],:] = table.loc[pandas.IndexSlice['Number of job postings',:],:].replace(r'.000','',regex=True)
table.loc[pandas.IndexSlice['Number of plants',:],:] = table.loc[pandas.IndexSlice['Number of plants',:],:].replace(r'.000','',regex=True)
table

                                           All
                                  Within-Check Within
annotation             statistics
Engineering            Mean              0.444  0.445
                       SD                  NaN    NaN
development            Mean              0.377  0.378
                       SD                  NaN    NaN
design                 Mean              0.330  0.331
                       SD                  NaN    NaN
materials              Mean              0.795  0.797
                       SD                  NaN    NaN
Operations             Mean             -0.026 -0.027
                       SD                  NaN    NaN
inventory              Mean             -0.389 -0.390
                       SD                  NaN    NaN
tooling                Mean             -0.351 -0.351
                       SD                  NaN    NaN
automation             Mean              1.588  1.589
                       SD                  NaN    NaN
production             Mean              0.340  0.340
                       SD                  NaN    NaN
maintenance            Mean             -0.529 -0.529
                       SD                  NaN    NaN
Support                Mean             -0.078 -0.079
                       SD                  NaN    NaN
administrative         Mean              0.818  0.818
                       SD                  NaN    NaN
management             Mean              0.044  0.044
                       SD                  NaN    NaN
finance                Mean              0.113  0.113
                       SD                  NaN    NaN
business               Mean             -0.250 -0.251
                       SD                  NaN    NaN
data                   Mean             -0.465 -0.465
                       SD                  NaN    NaN
software               Mean             -0.199 -0.198
                       SD                  NaN    NaN
office                 Mean             -0.229 -0.229
                       SD                  NaN    NaN
ml                     Mean              0.239  0.241
                       SD                  NaN    NaN
technical              Mean             -0.423 -0.424
                       SD                  NaN    NaN
Reasoning              Mean              0.513  0.513
                       SD                  NaN    NaN
cognitive              Mean              0.487  0.487
                       SD                  NaN    NaN
creativity             Mean              0.651  0.650
                       SD                  NaN    NaN
People                 Mean             -0.065 -0.065
                       SD                  NaN    NaN
social                 Mean             -0.048 -0.049
                       SD                  NaN    NaN
character              Mean             -0.167 -0.167
                       SD                  NaN    NaN
customer               Mean              0.260  0.260
                       SD                  NaN    NaN
writing                Mean             -0.184 -0.185
                       SD                  NaN    NaN
Number of job postings                     NaN    NaN
Number of plants                           NaN    NaN

                                        All                            \
                                         AM        TM Between  Within
annotation             statistics
Engineering            Mean        1.796***     1.011   0.340   0.445
                       SD           (1.506)   (1.314)     NaN     NaN
development            Mean        1.653***     1.005   0.270   0.378
                       SD           (2.125)   (1.796)     NaN     NaN
design                 Mean        1.651***     0.982   0.338   0.331
                       SD           (2.083)   (1.884)     NaN     NaN
materials              Mean        2.345***     1.080   0.468   0.797
                       SD           (4.219)   (3.016)     NaN     NaN
Operations             Mean        1.138***     1.051   0.114  -0.027
                       SD           (1.122)   (1.329)     NaN     NaN
inventory              Mean        0.568***     0.983  -0.025  -0.390
                       SD           (1.455)   (2.293)     NaN     NaN
tooling                Mean           1.445     1.315   0.481  -0.351
                       SD          (26.030)  (19.407)     NaN     NaN
automation             Mean        2.898***     1.022   0.287   1.589
                       SD           (6.862)   (4.822)     NaN     NaN
production             Mean        1.559***     1.030   0.189   0.340
                       SD           (1.927)   (1.970)     NaN     NaN
maintenance            Mean        0.753***     1.168   0.114  -0.529
                       SD           (1.679)   (2.850)     NaN     NaN
Support                Mean        0.771***     0.950  -0.100  -0.079
                       SD           (0.668)   (0.783)     NaN     NaN
administrative         Mean        1.371***     1.103  -0.550   0.818
                       SD           (3.712)   (3.143)     NaN     NaN
management             Mean        0.863***     1.020  -0.201   0.044
                       SD           (1.955)   (2.093)     NaN     NaN
finance                Mean        0.753***     0.971  -0.331   0.113
                       SD           (1.699)   (2.229)     NaN     NaN
business               Mean        0.504***     0.989  -0.234  -0.251
                       SD           (1.588)   (2.355)     NaN     NaN
data                   Mean        0.594***     0.979   0.080  -0.465
                       SD           (2.916)   (4.488)     NaN     NaN
software               Mean        0.708***     0.867   0.039  -0.198
                       SD           (1.224)   (1.687)     NaN     NaN
office                 Mean        0.762***     0.932   0.059  -0.229
                       SD           (1.526)   (1.858)     NaN     NaN
ml                     Mean        1.196***     0.782   0.173   0.241
                       SD           (5.493)   (5.070)     NaN     NaN
technical              Mean        0.615***     0.997   0.042  -0.424
                       SD           (2.302)   (3.528)     NaN     NaN
Reasoning              Mean        1.390***     0.980  -0.103   0.513
                       SD           (1.489)   (1.459)     NaN     NaN
cognitive              Mean        1.371***     0.985  -0.101   0.487
                       SD           (1.585)   (1.530)     NaN     NaN
creativity             Mean        1.492***     0.953  -0.111   0.650
                       SD           (4.150)   (3.439)     NaN     NaN
People                 Mean        0.852***     0.989  -0.072  -0.065
                       SD           (0.688)   (0.776)     NaN     NaN
social                 Mean        0.929***     1.007  -0.029  -0.049
                       SD           (0.954)   (1.056)     NaN     NaN
character              Mean        0.749***     0.970  -0.054  -0.167
                       SD           (1.040)   (1.227)     NaN     NaN
customer               Mean           0.930     0.996  -0.326   0.260
                       SD           (2.689)   (2.806)     NaN     NaN
writing                Mean        0.771***     0.969  -0.013  -0.185
                       SD           (1.940)   (2.452)     NaN     NaN
Number of job postings                 4638    208183     NaN     NaN
Number of plants                        319       319     NaN     NaN

                                    Manager            Engineer            \
                                         AM        TM        AM        TM
annotation             statistics
Engineering            Mean        0.857***     0.432  2.410***     1.856
                       SD           (1.118)   (0.799)   (1.382)   (1.462)
development            Mean        0.956***     0.582  2.116***     1.684
                       SD           (1.785)   (1.325)   (2.201)   (2.139)
design                 Mean        0.698***     0.337  2.263***     1.880
                       SD           (1.312)   (1.020)   (2.232)   (2.373)
materials              Mean        1.008***     0.360  3.231***     2.110
                       SD           (2.720)   (1.637)   (4.601)   (4.091)
Operations             Mean           0.634     0.631  1.117***     0.925
                       SD           (0.929)   (1.011)   (0.965)   (1.006)
inventory              Mean        0.631***     1.326  0.472***     0.687
                       SD           (1.885)   (2.825)   (1.226)   (1.665)
tooling                Mean        0.000***     0.533   2.009**     0.651
                       SD           (0.000)  (10.195)  (28.779)  (14.193)
automation             Mean        1.242***     0.246  2.571***     1.053
                       SD           (4.024)   (1.890)   (6.202)   (4.296)
production             Mean        0.828***     0.435  1.712***     1.092
                       SD           (1.565)   (1.185)   (1.823)   (1.805)
maintenance            Mean           0.203     0.204  0.590***     0.913
                       SD           (0.694)   (0.969)   (1.253)   (2.058)
Support                Mean         1.083**     1.146  0.669***     0.838
                       SD           (0.811)   (0.786)   (0.544)   (0.737)
administrative         Mean        2.976***     1.233    0.703*     0.777
                       SD           (5.764)   (3.220)   (1.906)   (2.602)
management             Mean           1.507     1.558     0.639     0.596
                       SD           (2.615)   (2.471)   (1.570)   (1.538)
finance                Mean           1.799     1.696  0.420***     0.506
                       SD           (2.612)   (2.880)   (0.935)   (1.408)
business               Mean        1.367***     1.729  0.300***     0.507
                       SD           (2.650)   (2.966)   (1.045)   (1.634)
data                   Mean        0.325***     0.874  0.608***     0.973
                       SD           (2.898)   (4.203)   (2.740)   (4.223)
software               Mean        0.661***     0.770  0.854***     1.176
                       SD           (1.282)   (1.497)   (1.291)   (1.975)
office                 Mean        0.446***     0.869  0.709***     0.861
                       SD           (1.219)   (1.719)   (1.399)   (1.813)
ml                     Mean           0.685     0.471     1.493     1.407
                       SD           (4.614)   (3.901)   (5.772)   (6.713)
technical              Mean        0.417***     0.746  0.704***     1.014
                       SD           (1.817)   (2.904)   (2.371)   (3.445)
Reasoning              Mean        1.720***     1.016  1.275***     1.090
                       SD           (1.752)   (1.365)   (1.312)   (1.560)
cognitive              Mean        1.678***     0.973  1.254***     1.129
                       SD           (1.913)   (1.435)   (1.402)   (1.616)
creativity             Mean        1.947***     1.241  1.384***     0.886
                       SD           (4.944)   (3.571)   (3.906)   (3.609)
People                 Mean        1.074***     1.275  0.725***     0.799
                       SD           (0.829)   (0.779)   (0.543)   (0.667)
social                 Mean        1.040***     1.202  0.886***     0.936
                       SD           (0.971)   (1.054)   (0.880)   (1.022)
character              Mean        0.915***     1.295  0.582***     0.698
                       SD           (1.185)   (1.299)   (0.764)   (1.034)
customer               Mean           1.798     1.656  0.548***     0.449
                       SD           (3.830)   (3.626)   (1.836)   (1.674)
writing                Mean          0.890*     1.023  0.748***     1.022
                       SD           (2.183)   (2.450)   (1.758)   (2.477)
Number of job postings                  981     88819      2704     78324
Number of plants                        166       311       274       309

                                  Technician            Operator
                                          AM        TM        AM        TM
annotation             statistics
Engineering            Mean          1.241**     1.090  0.814***     0.493
                       SD            (1.312)   (1.314)   (1.295)   (0.863)
development            Mean         1.418***     1.068  0.722***     0.464
                       SD            (2.142)   (2.079)   (1.495)   (1.279)
design                 Mean            1.060     1.011  0.742***     0.538
                       SD            (1.629)   (1.998)   (1.602)   (1.367)
materials              Mean            1.298     1.293  1.122***     0.454
                       SD            (3.635)   (3.082)   (3.722)   (1.830)
Operations             Mean            1.781     1.766  1.660***     2.356
                       SD            (1.308)   (1.518)   (1.499)   (1.808)
inventory              Mean         0.843***     0.649   0.714**     0.867
                       SD            (1.467)   (1.661)   (1.562)   (1.993)
tooling                Mean            2.002     1.724  0.717***     5.182
                       SD           (42.755)  (27.365)  (11.389)  (38.473)
automation             Mean         5.258***     1.780  5.788***     2.953
                       SD            (9.453)   (6.206)   (9.838)   (9.074)
production             Mean         1.851***     1.375  1.903***     2.491
                       SD            (2.127)   (2.098)   (2.492)   (3.057)
maintenance            Mean         2.049***     3.736  1.538***     3.737
                       SD            (2.704)   (4.578)   (2.686)   (4.781)
Support                Mean         0.593***     0.814  0.874***     0.713
                       SD            (0.551)   (0.786)   (0.832)   (0.753)
administrative         Mean         0.773***     1.215  2.393***     1.528
                       SD            (2.824)   (3.601)   (5.207)   (3.859)
management             Mean          0.637**     0.448  1.020***     0.743
                       SD            (1.640)   (1.367)   (2.269)   (1.981)
finance                Mean         0.181***     0.277  1.027***     0.291
                       SD            (0.729)   (1.317)   (2.258)   (1.167)
business               Mean         0.142***     0.304     0.244     0.308
                       SD            (0.773)   (1.303)   (1.139)   (1.399)
data                   Mean         1.047***     1.703  0.633***     1.047
                       SD            (3.736)   (5.892)   (2.963)   (5.287)
software               Mean         0.372***     0.671  0.311***     0.423
                       SD            (0.831)   (1.593)   (0.809)   (1.236)
office                 Mean           1.217*     1.389     1.254     1.136
                       SD            (1.813)   (2.360)   (2.119)   (2.108)
ml                     Mean           0.938*     0.481   0.820**     0.185
                       SD            (4.952)   (3.582)   (5.881)   (3.047)
technical              Mean         0.342***     1.822  0.775***     1.392
                       SD            (1.571)   (5.159)   (3.141)   (4.479)
Reasoning              Mean         1.276***     0.890  1.472***     0.622
                       SD            (1.472)   (1.714)   (1.722)   (1.290)
cognitive              Mean         1.243***     0.938  1.519***     0.664
                       SD            (1.452)   (1.724)   (1.815)   (1.443)
creativity             Mean         1.451***     0.633  1.223***     0.395
                       SD            (3.948)   (3.404)   (3.822)   (2.343)
People                 Mean         0.988***     0.717  0.977***     0.740
                       SD            (0.731)   (0.736)   (0.867)   (0.774)
social                 Mean         0.980***     0.782  0.897***     0.699
                       SD            (1.099)   (1.121)   (1.131)   (1.008)
character              Mean         1.219***     0.671     0.897     0.829
                       SD            (1.497)   (1.089)   (1.285)   (1.290)
customer               Mean          0.360**     0.485  1.823***     0.654
                       SD            (1.167)   (1.882)   (3.949)   (2.194)
writing                Mean            0.932     0.910   0.516**     0.697
                       SD            (2.611)   (2.691)   (1.581)   (2.280)
Number of job postings                   457     10791       496     30249
Number of plants                         104       273       131       300

In [75]:
table.to_excel('Appendix-Table3-terms.xlsx')